<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bài tập về nhà</title>
    <link rel="stylesheet" href="\static\css\styles.css">

</head>
<body>

    <header>
        <h1>Norway Photos</h1>
    </header>
    

    <div id="gallery">
        <div class="imgcontainer">
            <img src="https://images.pexels.com/photos/1647962/pexels-photo-1647962.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" 
            alt="dog0">
        </div>
        <div class="imgcontainer">
            <img src="https://images.pexels.com/photos/135157/pexels-photo-135157.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" 
            alt="dog1">
        </div>
        <div class="imgcontainer">
            <img src="https://images.pexels.com/photos/145712/pexels-photo-145712.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="dog2">
        </div>
        <div class="imgcontainer">
            <img src="https://images.pexels.com/photos/1559411/pexels-photo-1559411.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" 
            alt="dog3">
        </div>
        <div class="imgcontainer">
            <img src="https://images.pexels.com/photos/750854/pexels-photo-750854.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" 
            alt="dog4">
        </div>
        <div class="imgcontainer">
            <img src="https://images.pexels.com/photos/1680381/pexels-photo-1680381.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" 
            alt="dog5">
        </div>
        <div class="imgcontainer">
            <img src="https://images.pexels.com/photos/1587596/pexels-photo-1587596.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" 
            alt="dog6">
        </div>
        <div class="imgcontainer">
            <img src="https://images.pexels.com/photos/1559402/pexels-photo-1559402.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" 
            alt="dog7">
        </div>
        <div class="imgcontainer">
            <img src="https://images.pexels.com/photos/1562053/pexels-photo-1562053.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" 
            alt="dog8">
        </div>
        <div class="imgcontainer">
            <img src="https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" 
            alt="dog9">
        </div>
        
    </div>

    <div id="modal-plain" class="modal">
        <span class="close" id="cls-button">&times;</span>
        <img src="" id="modal-img" class="modal-content" alt="Moaz moaz">
    </div>

    <script src="\static\js\script.js"></script>
    
</body>
</html>